<div class="container underDog">
  <label>Search Result</label>
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless" *ngFor="let item of items">
      <a (click)="chooseCourse(item)"><span class="fas fa-check fontawsome_icon float-right"></span></a>
      <a>{{item.snippet.channelTitle}}</a>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/' + item.id.videoId)" allowfullscreen></iframe>
      </div>
    </li>
  </ul>
</div>

<ul class="list-group cl-list-group-borderless underDog">
  <li class="list-group-item cl-list-item-borderless" *ngFor="let item of items">
      <div class="col-md-6 offset-sm-3">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src='{{item.snippet.thumbnails.high.url}}' alt="Card image cap">
          <div class="card-body">
            <h3>{{item.snippet.title}}</h3>
            <p class="card-text">{{item.snippet.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="chooseCourse(item)">choose</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">view</button>
              </div>
              <small class="text-muted">Channel: {{item.snippet.channelTitle}}</small>
            </div>
          </div>
        </div>
      </div>
  </li>
</ul>

<div class="row">
  <!--<div *ngFor = "let pic of photos['photo']" class="col-xs-4">-->
  <div *ngFor = "let item of items" class="col-md-6">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" data-src='{{item.snippet.thumbnails.high.url}}' alt="Card image cap">
      <div class="card-body">
        <h3>{{item.snippet.title}}</h3>
        <p class="card-text">{{item.snippet.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="chooseCourse(item)">choose</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">view</button>
          </div>
          <small class="text-muted">Channel: {{item.snippet.channelTitle}}</small>
        </div>
      </div>
    </div>
  </div>
</div>

