<nav class="navbar navbar-default navbar-fixed-top justify-content-start bg-dark p-0 underDog">
  <a routerLink="/login" class="nav-item nav-link cl-text-white">
    <i class="fas fa-chevron-left fontawsome_icon"></i>
  </a>
  <a class="float-left cl-text-white nav-item nav-link navbar-brand p-0" routerLink="#">
    Admin
  </a>
</nav>

<div class="container underDog">
  <label>Faculty Memebers</label>
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless bg-transparent" *ngFor="let faculty of faculties">
      <!--<a routerLink="/usr/{{userId}}/website/{{website._id}}"><span class="fas fa-cog fontawsome_icon float-right"></span></a>-->
      <a (click)="checkInfo(faculty._id)">{{faculty.username}}</a>
      <button class="float-right btn-outline-danger" (click)="deleteUser(faculty)">delete</button>
    </li>
  </ul>
</div>

<div class="container underDog">
  <label> Student Memebers</label>
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless bg-transparent" *ngFor="let student of students">
      <!--<a routerLink="/usr/{{userId}}/website/{{website._id}}"><span class="fas fa-cog fontawsome_icon float-right"></span></a>-->
      <a (click)="checkInfo(student._id)">{{student.username}}</a>
      <button class="float-right btn-outline-danger" (click)="deleteUser(student)">delete</button>
    </li>
  </ul>
</div>

<nav class="navbar fixed-bottom bg-dark navbar-dark justify-content-end p-0 underDog">
  <div class="container-fuild p-0">
    <a routerLink="/profile/{{sharedService.user._id}}" class="navbar-link navbar-text ml-auto">
      <i class="fas fa-user fontawsome_icon"></i>
    </a>
  </div>
</nav>
