<form (ngSubmit) = "register()" #f="ngForm" style="margin-top: 30vh">
  <div class="container-fluid underDog col-sm-4 offset-sm-4">
    <h1 class="text-center" style="font-size: 50px;">Register</h1>
    <input type="text"
           name="username"
           class="form-control"
           placeholder="username"
           ngModel required #username="ngModel"/>
    <input type="password"
           name="password"
           class="form-control"
           placeholder="password"
           ngModel required #password="ngModel"/>
    <input type="password"
           name="verifyPassword"
           class="form-control"
           placeholder="verify password"/>
    <div>
      <input type="radio" id="cbox1" value="student"
             name="role" ngModel required #student="ngModel">
      <label for="cbox1">Student</label>
    </div>
    <div>
      <input type="radio" id="cbox2" value="faculty" name="role" ngModel required #faculty="ngModel">
      <label for="cbox2">Faculty</label>
    </div>
    <div>
      <input type="radio" id="cbox3" value="admin" name="role" ngModel required #admin="ngModel">
      <label for="cbox3">Admin</label>
    </div>
    <button class="btn btn-dark btn-block" type="submit" [disabled]="!f.valid">register</button>
    <a class="btn btn-light btn-block"
       routerLink="/login">Cancel</a>
  </div>
</form>

