<form (ngSubmit)="updateUser()" #x="ngForm">
  <nav class="navbar navbar-default navbar-fixed-top justify-content-start bg-dark p-0 underDog">
      <a routerLink='/usr/{{uid}}/manage' class="nav-item nav-link cl-text-white">
      <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
      <a class="navbar-brand cl-text-white float-left" routerLink="#">Profile</a>
      <a (click)="updateUser()" type="summit" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding ml-auto">
        <span class="fas fa-check fontawsome_icon cl-text-white"></span>
      </a>
  </nav>
  <div class="container underDog">
    <div class="form-group">
      <label for="username">Username</label>
      <input [ngModel]="user.username" name="username" type="text" class="form-control" id="username" placeholder="{{user.username}}"
             ngModel required #username="ngModel">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input [ngModel]="user.password" name="password" type="text" class="form-control" id="password" placeholder="{{user.password}}"
             ngModel required #password="ngModel">
    </div>
  </div>

  <nav class="navbar fixed-bottom bg-dark navbar-dark justify-content-end p-0 underDog">
    <div class="container-fuild p-0">
      <a routerLink="/profile/{{sharedService.user._id}}" class="navbar-link navbar-text ml-auto">
        <i class="fas fa-user fontawsome_icon"></i>
      </a>
    </div>
  </nav>
</form>

