<form (ngSubmit)="updateUser()" #x="ngForm">
  <nav class="navbar navbar-default navbar-fixed-top justify-content-start bg-dark p-0 underDog">
    <div class="container-fluid">
      <a routerLink="/usr/{{userId}}/search" class="nav-item nav-link cl-text-white">
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
      <a class="navbar-brand cl-text-white" routerLink="./">My Profile</a>
      <a (click)="updateUser()" type="summit" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
        <span class="fas fa-check fontawsome_icon cl-text-white"></span>
      </a>
    </div>
  </nav>

  <div class="container underDog">
    <div class="form-group">
      <label for="username">Username</label>
      <input [ngModel]="user.username" name="username" type="text" class="form-control" id="username" placeholder="{{user.username}}"
             ngModel required #username="ngModel">
    </div>
    <!--<div class="form-group">-->
      <!--<label for="password">Password</label>-->
      <!--<input [ngModel]="user.password" name="password" type="text" class="form-control" id="password" placeholder="{{user.password}}"-->
             <!--ngModel required #password="ngModel">-->
    <!--</div>-->
    <h2>My Videos</h2>
    <ul class="list-group cl-list-group-borderless">
      <li class="list-group-item cl-list-item-borderless bg-transparent" *ngFor="let course of user.courses">
        <a>{{course.channelTitle}}</a>
      </li>
    </ul>
  </div>

  <div class="form-group col-sm-4 offset-sm-4 bg-transparent" style="margin-top: 20px">
    <button class="btn btn-outline-danger btn-block" (click) ="logOut()">Logout</button>
  </div>

  <!--<nav class="navbar fixed-bottom bg-primary navbar-dark justify-content-end p-0">-->
    <!--<div class="container-fuild p-0">-->
      <!--<a routerLink="/profile/{{user._id}}" class="navbar-link navbar-text ml-auto">-->
        <!--<i class="fas fa-user fontawsome_icon"></i>-->
      <!--</a>-->
    <!--</div>-->
  <!--</nav>-->
</form>
