<div class="container text-center underDog" style="margin-top: 30vh;">
  <h1 class="font-weight-normal underDog" style="margin-bottom: 50px; font-size: 80px;">Video Library Hub</h1>
  <div class="row">
      <button class="btn btn-dark btn-block col-sm-2 offset-sm-5" routerLink="/login">login</button>
      <button class="btn btn-light btn-block col-sm-2 offset-sm-5" routerLink="/register">register</button>
  </div>
  <div style="margin-top: 40px">
    <a routerLink="/visitor" class="text-info" > Explore as Visitor </a>
  </div>
</div>

